.rcb-chat-window {
    padding: 10px;
    height: 550px !important;
    margin: auto;
}

@media (min-width: 1400px) {
    .rcb-chat-window {
        width: 1400px !important;
    }

    .input {
        width: 1400px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .rcb-chat-window {
        width: 950px !important;
    }

    .input {
        width: 950px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .rcb-chat-window {
        width: 750px !important;
    }

    .input {
        width: 750px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .rcb-chat-window {
        width: 550px !important;
    }

    .input {
        width: 550px !important;
    }
}