img {
    width: 25px;
    height: 25px;
}

li {
    display: inline;
}
/* 
label {
    display: block;
} */

.row {
    display: flex;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 50%;
}